<div class="bg-gradient-primary">
  <div class="container">
    <div class="card shadow-lg o-hidden border-0 my-5">
      <div class="card-body p-0">
        <div class="p-5">
          <div class="text-center">
            <h4 class="text-dark mb-4">New user</h4>
          </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.text_field :full_name, autofocus: true, placeholder: "Full Name", class: "form-control form-control-user" %></div>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", class: "form-control form-control-user" %></div>
            <div class="form-group">
              <%= f.text_field :phone_number, autofocus: true, placeholder: "Phone Number", class: "form-control form-control-user" %></div>
            <div class="form-group">
              <%= f.text_field :company_name, autofocus: true, placeholder: "Company Name", class: "form-control form-control-user" %></div>
            <div class="form-group">
              <%= f.text_field :company_adress, autofocus: true, placeholder: "Company Adress", class: "form-control form-control-user" %></div>
            <%= f.submit "Save user", class: "btn btn-primary btn-block text-white btn-user" %>
            <hr>
          <% end %>
          <div class="text-center"><%= link_to('Go back to the admin portal', portal_path, :class => "small")  %></div>
        </div>
      </div>
    </div>
  </div>
</div>
